/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------------------------------------
---------    Priority: Ultra    -----------
-----------------------------------------------------*/
html {
  font-size: 10px;
  height: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  height: 100%; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

/* Prevents adjustments of font size after orientation changes in IE on Windows Phone and in iOS */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/***********************************************  
***************   TYPOGRAPHY    ****************
************************************************/
/*****************************************************  
************       MEDIA QUERRIES      ***************
******************************************************/
/********* BREAKPOINT ***********/
/* Small devices (landscape phones, 576px and up)
Medium devices (tablets, 768px and up)
Large devices (desktops, 992px and up)
Extra large devices (large desktops, 1200px and up) */
/*###############################################
#############    02 Media Querry    ###########
################################################*/
/************************************************  
******    general tags and attributes      ******
*************************************************/
[role=button] {
  cursor: pointer; }

/************************************************  
*******      BODY AND ITS COMPONENT      ********
*************************************************/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5em; }

.col {
  margin-right: auto;
  margin-left: auto; }

/************************************************  
*************      General styles      **********
*************************************************/
.orangeHighlight {
  color: #F7931D; }

.hidden {
  display: none; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

/* Extra small device 
$xsBp-max= max-width = 36.9375em;  //575px */
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presense
	03. Our Services
	04. quality and cost
	05. Why Us?
	  . Footer
	xx. Miscellaneous
*/
/*###############################################
#######   00. General for small device   ########
################################################*/
.row {
  padding-right: 5%;
  padding-left: 5%; }

.col {
  width: 100%; }

/*##################################################
##############   01 Landing page    ################
###################################################*/
.landingPage {
  display: flex;
  flex-direction: column;
  height: 100%; }

/*##################################################
##############   01.00 Header    ###################
###################################################*/
.container-header {
  font-size: 1.6rem; }

/******************************************
***             First row               ***
*******************************************/
.container-header .row-welcome {
  background-color: #F7931D; }

.component-welcome {
  font-size: 1.2rem;
  padding: 0.4166666667em 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px; }
  .component-welcome .leftSection, .component-welcome .rightSection {
    display: flex;
    justify-content: space-between; }
    .component-welcome .leftSection > *, .component-welcome .rightSection > * {
      margin-left: 0.8333333333em;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.6); }
      .component-welcome .leftSection > *:first-child, .component-welcome .rightSection > *:first-child {
        margin: 0;
        padding: 0;
        border: 0; }
  .component-welcome i {
    vertical-align: middle; }
  .component-welcome .wrapperSocialNetwork {
    display: flex; }
    .component-welcome .wrapperSocialNetwork .socialNetwork {
      padding-right: 0.8333333333em; }
    .component-welcome .wrapperSocialNetwork .socialNetwork:last-child {
      padding-right: 0; }
    .component-welcome .wrapperSocialNetwork i {
      font-size: 1.0833333333em;
      color: #fff; }
  .component-welcome .wrapperContactNumber i {
    font-size: 0.8333333333em;
    position: relative;
    bottom: 2px; }

/*XXXXXXXXXXXXXXXX  Only mobile specific XXXXXXXXXXXXXXX*/
@media only screen and (max-width: 47.9375em) {
  .component-welcome {
    justify-content: center; }
    .component-welcome .leftSection {
      display: none; } }
@media only screen and (max-width: 21.5625em) {
  .component-welcome .wrapperLogin {
    display: none; } }
/******************************************
***           2nd row                   ***
*******************************************/
@media only screen and (max-width: 61.9375em) {
  .component-navigation .wrapper-nav {
    /* General edited styles for all menus 
    	IMPORTANT --> some lines are commented as part of edit 
    */
    /* Orientation-dependent styles for the content of the menu */
    /* Vertical menu that slides from the left or right */
    /* Push classes applied to the body */
    /* Transitions */ }
    .component-navigation .wrapper-nav .component-navigation .wrapper-nav ul {
      flex-direction: column; }
      .component-navigation .wrapper-nav .component-navigation .wrapper-nav ul li {
        display: flex;
        flex-direction: column; }
      .component-navigation .wrapper-nav .component-navigation .wrapper-nav ul .cbp-spmenu-vertical {
        top: null !important;
        transition: top 0s !important; }
    .component-navigation .wrapper-nav .cbp-spmenu {
      background-color: rgba(0, 0, 0, 0.82) !important;
      position: fixed; }
    .component-navigation .wrapper-nav .cbp-spmenu .nav-label {
      color: #afdefa;
      font-size: 1.9em;
      padding: 20px;
      margin: 0;
      font-weight: 300;
      background: #0d77b6; }
    .component-navigation .wrapper-nav .cbp-spmenu a {
      display: block;
      color: #fff;
      font-size: 1.1em;
      font-weight: 300; }
    .component-navigation .wrapper-nav .cbp-spmenu a:hover {
      background: #258ecd !important; }
    .component-navigation .wrapper-nav .cbp-spmenu a:active {
      background: #afdefa !important;
      color: #47a3da !important; }
    .component-navigation .wrapper-nav .cbp-spmenu-vertical {
      width: 240px;
      height: 100%; }
    .component-navigation .wrapper-nav .cbp-spmenu-vertical a {
      border-bottom: 1px solid #258ecd;
      border-bottom: 1px solid #333;
      padding: 1em; }
    .component-navigation .wrapper-nav .cbp-spmenu-right {
      right: -240px; }
    .component-navigation .wrapper-nav .cbp-spmenu-right.cbp-spmenu-open {
      right: 0px; }
    .component-navigation .wrapper-nav .cbp-spmenu-push {
      overflow-x: hidden;
      position: relative;
      left: 0; }
    .component-navigation .wrapper-nav .cbp-spmenu-push-toright {
      left: 240px; }
    .component-navigation .wrapper-nav .cbp-spmenu-push-toleft {
      left: -240px; }
    .component-navigation .wrapper-nav .cbp-spmenu,
    .component-navigation .wrapper-nav .cbp-spmenu-push {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; } }
.component-navigation .wrapper-nav ul {
  overflow: auto; }

@media only screen and (max-width: 61.9375em) {
  .disableScroll {
    overflow: hidden; }

  .bgOverlayForMenu {
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    right: 0; }

  .bgColor {
    background-color: rgba(0, 0, 0, 0.6); }

  .wrapper-nav {
    transition: background-color 500ms !important; } }
.component-navigation .wrapperAtomAnimation {
  /* 129 = ellipse.getTotalLength() */
  /* 129 = ellipse.getTotalLength() */ }
  .component-navigation .wrapperAtomAnimation .container-atom {
    width: 100%;
    height: 100%; }
  .component-navigation .wrapperAtomAnimation svg.atom {
    max-height: 100vh;
    max-width: 100vw;
    overflow: visible; }
  .component-navigation .wrapperAtomAnimation svg circle.kern {
    fill: #FFEA00;
    stroke: none;
    filter: drop-shadow(0px 0px 4px #aeea00); }
  .component-navigation .wrapperAtomAnimation .atom path {
    fill: none;
    stroke: #fff;
    stroke-width: .06;
    stroke-width: .12; }
  .component-navigation .wrapperAtomAnimation path.tail {
    stroke: #bda800;
    fill: none;
    animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: 20,44.5;
    stroke-width: .6; }
  .component-navigation .wrapperAtomAnimation path.electron {
    stroke: #FFEA00;
    fill: none;
    animation: atom 1.5s infinite linear;
    stroke-dashoffset: 0;
    stroke-dasharray: .1,64.4;
    stroke-width: 2;
    stroke-linecap: round; }
  .component-navigation .wrapperAtomAnimation path.tail1,
  .component-navigation .wrapperAtomAnimation path.electron1 {
    animation-delay: -1s; }
  .component-navigation .wrapperAtomAnimation path.tail2,
  .component-navigation .wrapperAtomAnimation path.electron2 {
    animation-delay: -1.4s; }
@keyframes atom {
  to {
    stroke-dashoffset: 129; } }
.component-navigation .wrapperHamburger {
  /*###############################################
  ##########      self edit     ###################
  ################################################*/
  /* //phase 1 of edit 
  .hamburger {
    margin: 0 !important;
    height: 0 !important;
    width: 63px;
    height: 63px;
  }
  .burger-main {
    width: 54px !important;
    height: 60px !important;
  }
  .burger-main span {
    width: 21px !important;
  }
  svg.svg-circle {
    padding-left: 2px;
    padding-top: 7px;
  }
  .top {
    transform-origin: 21px 2px !important ;
  }
  .bot {
    transform-origin: 22px 2px !important ;
  }
  .mid {
    top: 8px !important;
  }
  .burger-inner {
    height: 20px !important;
  }
  */
  /*###############################################
  ##########      End of self edit     ###################
  ################################################*/ }
  .component-navigation .wrapperHamburger .hamburger {
    width: 58px !important;
    height: 59px !important;
    background: none !important;
    margin: 0 !important; }
  .component-navigation .wrapperHamburger .burger-main {
    margin-top: 2px !important;
    padding: 15px 11px !important;
    width: 56px !important;
    height: 54px !important; }
  .component-navigation .wrapperHamburger .hamburger.open .burger-main {
    margin-top: 0 !important; }
  .component-navigation .wrapperHamburger .burger-main span {
    width: 32px !important; }
  .component-navigation .wrapperHamburger .burger-inner {
    width: 32px !important;
    height: 24px !important; }
  .component-navigation .wrapperHamburger .svg-main {
    width: 58px !important;
    height: 0 !important; }
  .component-navigation .wrapperHamburger .top {
    transform-origin: 34px -1px !important; }
  .component-navigation .wrapperHamburger .mid {
    top: 10px !important; }
  .component-navigation .wrapperHamburger .bot {
    transform-origin: 29px 7px !important; }
  .component-navigation .wrapperHamburger *,
  .component-navigation .wrapperHamburger *:before,
  .component-navigation .wrapperHamburger *:after {
    box-sizing: border-box; }
  .component-navigation .wrapperHamburger .hamburger {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin: 40px auto;
    position: relative;
    display: block;
    width: 68px;
    height: 68px;
    background: #973BE8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .component-navigation .wrapperHamburger .burger-main {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px; }
  .component-navigation .wrapperHamburger .burger-inner {
    position: relative;
    height: 28px;
    width: 36px; }
  .component-navigation .wrapperHamburger .burger-main span {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: #fff; }
  .component-navigation .wrapperHamburger .top {
    top: 0;
    transform-origin: 34px 2px; }
  .component-navigation .wrapperHamburger .bot {
    bottom: 0;
    transform-origin: 34px 2px; }
  .component-navigation .wrapperHamburger .mid {
    top: 12px; }
  .component-navigation .wrapperHamburger .svg-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px; }
  .component-navigation .wrapperHamburger .circle {
    width: 68px;
    height: 68px;
    width: 20px;
    height: 20px; }
  .component-navigation .wrapperHamburger .path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round; }
  .component-navigation .wrapperHamburger .hamburger.open .path {
    animation: dash-in 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.closed .path {
    animation: dash-out 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.open .top {
    animation: close-top-out 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.open .bot {
    animation: close-bot-out 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.closed .top {
    animation: close-top-in 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.closed .bot {
    animation: close-bot-in 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.open .mid {
    animation: burger-fill-out 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.closed .mid {
    animation: burger-fill-in 0.6s linear normal; }
  .component-navigation .wrapperHamburger .path-burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
    -webkit-mask: url(#mask);
    mask: url(#mask);
    -webkit-mask-box-image: url(http://dev.awsm.in/codepen/mask.svg); }
  .component-navigation .wrapperHamburger .animate-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px; }
  .component-navigation .wrapperHamburger .path-rotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  .component-navigation .wrapperHamburger .path-rotation:before {
    content: '';
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: #fff; }
  .component-navigation .wrapperHamburger .hamburger.open .animate-path {
    animation: circle-in 0.6s linear normal;
    animation-fill-mode: forwards; }
  .component-navigation .wrapperHamburger .hamburger.closed .animate-path {
    animation: circle-out 0.6s linear normal;
    animation-fill-mode: forwards; }
@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash-in {
  0% {
    stroke-dashoffset: 240; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 240; } }
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0; }
  40% {
    stroke-dashoffset: 240; }
  100% {
    stroke-dashoffset: 240; } }
@keyframes close-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg); }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg); }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg); }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg); } }
@keyframes close-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg); }
  20% {
    left: 0;
    transform: rotate(-15deg); }
  80% {
    left: -5px;
    transform: rotate(60deg); }
  100% {
    left: -5px;
    transform: rotate(45deg); } }
@keyframes close-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg); }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg); }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg); }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg); } }
@keyframes close-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg); }
  20% {
    left: -5px;
    transform: rotate(60deg); }
  80% {
    left: 0;
    transform: rotate(-15deg); }
  100% {
    left: 0;
    transform: rotate(0deg); } }
@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px; }
  40% {
    width: 0;
    left: 40px; }
  80% {
    width: 36px;
    left: -6px; }
  100% {
    width: 36px;
    left: 0px; } }
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px; }
  20% {
    width: 42px;
    left: -6px; }
  40% {
    width: 0;
    left: 40px; }
  100% {
    width: 0;
    left: 36px; } }
@keyframes circle-out {
  0% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes circle-in {
  0% {
    transform: rotate(360deg); }
  40% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }
.container-header .row-navigation {
  background-color: #222; }

.container-header .row-navigation.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%; }

.component-navigation {
  font-size: 1.6rem;
  height: 4.125em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .component-navigation .wrapperAtomAnimation {
    width: 4.125em;
    height: 4.125em;
    overflow: visible;
    position: relative;
    left: -0.9375em; }
  .component-navigation .wrapperLogo {
    display: flex;
    align-items: center; }
  .component-navigation .wrapperHamburger {
    position: relative;
    z-index: 98;
    margin-right: -0.75em;
    display: flex;
    align-items: center; }
  .component-navigation .wrapperNavigation {
    position: relative;
    z-index: 99; }
  .component-navigation .wrapper-nav {
    position: fixed;
    z-index: 1;
    right: 0; }
    .component-navigation .wrapper-nav li a {
      text-transform: uppercase;
      color: #f3f3f3;
      font-size: 14px;
      transition: all 0.3s ease-in-out; }
    .component-navigation .wrapper-nav li a:hover {
      color: #f7931d; }

/*##################################################
##############   01.01 mainBanner    ###############
###################################################*/
.row-mainBanner {
  background-size: cover;
  background-image: url("../images/banner/mobile/heroImage-1x.jpg");
  background-image: -webkit-image-set(url("../images/banner/mobile/heroImage-1x.jpg") 1x, url("../images/banner/mobile/heroImage-2x.jpg") 2x);
  background-image: image-set(url("../images/banner/mobile/heroImage-1x.jpg") 1x, url("../images/banner/mobile/heroImage-2x.jpg") 2x); }
  @media only screen and (min-width: 48em) {
    .row-mainBanner {
      background-image: url("../images/banner/tablet/heroImage-1x.jpg");
      background-image: -webkit-image-set(url("../images/banner/tablet/heroImage-1x.jpg") 1x, url("../images/banner/tablet/heroImage-2x.jpg") 2x); } }
  @media only screen and (min-width: 62em) {
    .row-mainBanner {
      background-image: url("../images/banner/desktop/123.jpg"); } }

.container-mainBanner {
  flex: 1; }
  .container-mainBanner .row-mainBanner, .container-mainBanner .col-mainBanner {
    height: 100%; }

.component-mainBanner {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center; }
  .component-mainBanner .heading {
    text-transform: uppercase; }
    .component-mainBanner .heading p {
      font-size: 1.3125em;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      color: #ffffff; }
    .component-mainBanner .heading span {
      color: #F7931D; }
  .component-mainBanner .subHeading {
    padding-top: 0.25em; }
    .component-mainBanner .subHeading p {
      font-size: 0.875em;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: #ffffff; }
  .component-mainBanner .buttons {
    padding-top: 0.75em; }
    .component-mainBanner .buttons .button a {
      font-size: 0.875em;
      font-weight: 400;
      display: flex;
      align-items: stretch;
      color: #fff;
      height: 2.5em;
      background-color: rgba(247, 147, 29, 0.81);
      border-radius: 4px; }
      .component-mainBanner .buttons .button a .lft, .component-mainBanner .buttons .button a .rft {
        display: flex;
        align-items: center; }
      .component-mainBanner .buttons .button a .lft {
        padding: 0 15px 0 25px;
        flex-grow: 1;
        display: flex;
        justify-content: center; }
      .component-mainBanner .buttons .button a .rft {
        display: inline-block;
        width: 2.5em;
        text-align: center;
        background-color: rgba(36, 36, 36, 0.12); }
        .component-mainBanner .buttons .button a .rft .iconWrapper {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        .component-mainBanner .buttons .button a .rft i {
          font-size: 11px; }
    .component-mainBanner .buttons .button1 {
      display: none; }

/*##################################################
#################   01.02 info    ###################
###################################################*/
.component-mainInfo .glide__slide {
  background-color: #fff; }

.container-info {
  background-image: url("../images/info/info_bg.png");
  background-size: auto; }

/*##########################
		  row-mainInfo
############################*/
.component-mainInfo {
  padding-top: 1.875em;
  padding-bottom: 1.125em; }
  .component-mainInfo .glide__slides {
    padding-bottom: 1.1875em; }
  .component-mainInfo .glide__slide {
    position: relative;
    padding: 1.1875em 1em;
    background-color: #654928;
    border: 2px solid #8A5E29;
    display: flex;
    align-items: center;
    height: 6.9375em;
    border-radius: 4px; }
    .component-mainInfo .glide__slide:before {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      right: 20px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.74);
      z-index: -1; }
    .component-mainInfo .glide__slide .text {
      font-size: 0.875em;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      text-align: center;
      transition: height 300ms ease;
      line-height: 23px; }
  .component-mainInfo .glide__bullets {
    position: static;
    transform: none;
    display: flex;
    justify-content: center; }
  .component-mainInfo .glide__bullet {
    height: 11px;
    width: 11px; }
  .component-mainInfo .glide__bullet--active {
    background-color: #F7931D; }

/*##########################
		row-appendixInfo
############################*/
.row-appendixInfo {
  background-color: rgba(17, 17, 17, 0.48);
  background-color: rgba(35, 35, 35, 0.48); }

.component-appendixInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0; }
  .component-appendixInfo .text {
    color: #959595;
    font-size: 0.8125em; }
  .component-appendixInfo a {
    color: #ffffff;
    font-size: 0.75em;
    padding: 4px 24px;
    border: 1px solid #F7931D;
    border-radius: 4px; }

/*#######################################################
#######          02. Online Presense          ###########
#########################################################*/
.row-onlinePresence {
  background-color: #f7f7f7; }

.component-onlinePresence {
  padding: 5em 0; }
  .component-onlinePresence .heading p {
    font-size: 1.5625em;
    font-weight: 400;
    line-height: 36px; }
  .component-onlinePresence .heading span {
    display: block; }
    .component-onlinePresence .heading span:first-letter {
      text-transform: uppercase; }
  .component-onlinePresence .content p {
    font-size: 1em;
    line-height: 24px;
    font-weight: 400;
    color: #696969;
    color: #292929;
    padding-top: 1.125em; }
  .component-onlinePresence .divider {
    display: none; }
  .component-onlinePresence .cards {
    margin-top: 4.0625em; }
    .component-onlinePresence .cards .firstRow {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
    .component-onlinePresence .cards .secoundRow {
      margin-top: 32px; }
    .component-onlinePresence .cards .headingIcon {
      font-size: 22px;
      width: 50px;
      padding: 0 12px;
      background-color: #f7931d;
      line-height: 50px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 0 10px 20px 0 rgba(247, 147, 29, 0.25);
      color: #f1f1f1; }
    .component-onlinePresence .cards .cardHeading {
      font-size: 19px;
      margin-left: 0.9375em;
      color: #636363; }
    .component-onlinePresence .cards .cardContent {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.8;
      color: #808080;
      color: #464646; }
    .component-onlinePresence .cards .thirdRow {
      padding-top: 32px;
      padding-top: 10px;
      text-align: right; }
    .component-onlinePresence .cards .button {
      color: #F7931D;
      font-size: 14px;
      font-weight: 400;
      line-height: 11px;
      letter-spacing: 1px; }
      .component-onlinePresence .cards .button:hover {
        color: #fff;
        border-color: #dd7a08;
        background-color: #dd7a08;
        transition: all 0.3s ease-in-out; }
  .component-onlinePresence .card {
    background-color: #fff;
    margin-top: 4.0625em;
    padding: 42px 37px;
    padding: 42px 37px 35px 37px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
    transition: all 0.4s ease; }
    .component-onlinePresence .card:first-child {
      margin-top: 0; }

/*##################################################
#########     03. Our Services	       #############
###################################################*/
@media only screen and (max-width: 36.9375em) {
  .row-ourServices {
    padding-right: 15px;
    padding-left: 15px; } }

.component-ourServices {
  padding-top: 6.25em; }
  .component-ourServices .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em; }
  .component-ourServices .componentHeading p {
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #1a1a1a;
    font-weight: 600;
    padding: 8px 0 10px 0; }
  .component-ourServices .headerDivider {
    background-color: #bfbfbf;
    margin: 15px auto 40px auto;
    height: 2px;
    width: 40px; }
  .component-ourServices .componentSubHeading {
    color: #595959;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .component-ourServices .listContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .component-ourServices .listWrapper1 {
    margin-bottom: 160px;
    border: 1px solid #eeeeee;
    background: #fefefe;
    padding: 10px;
    transition: box-shadow 0.3s, transform 0.3s; }
  .component-ourServices .listWrapper1:hover {
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px); }
  .component-ourServices .list {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 90px 15px;
    padding: 57px 25px 30px 25px;
    border-radius: 2px;
    border: 1px solid #f7931d; }
  .component-ourServices .listIconArea {
    margin-bottom: 40px;
    display: inline-block;
    text-align: center; }
    .component-ourServices .listIconArea i {
      font-size: 42px;
      line-height: 110px;
      color: #777777; }
  .component-ourServices .iconOuter {
    height: 110px;
    width: 110px;
    display: block;
    border-radius: 100%;
    background-color: #eaeaea;
    box-shadow: 0 0 0 10px #f4f4f4;
    margin: auto;
    transition: background-color 0.3s, box-shadow 0.5s; }
  .component-ourServices .listHeading p {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    color: #1a1a1a;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center; }
  .component-ourServices .listText {
    font-size: 14px;
    color: #999999;
    text-align: center; }
  .component-ourServices .listKnowMore {
    text-align: center; }
    .component-ourServices .listKnowMore a:before {
      content: "\2192";
      display: inline-block;
      color: #333333;
      margin-left: 10px;
      vertical-align: top;
      font-size: 22px;
      transition: margin-left 0.2s linear;
      float: right;
      line-height: 1;
      color: #fff;
      display: block;
      margin-top: -2px; }
    .component-ourServices .listKnowMore a {
      margin-top: 35px;
      font-size: 13px;
      color: #999999;
      color: #ffffff;
      background-color: #f7931d;
      text-align: center;
      padding: 8px 21px;
      border: 1px solid #f7931d;
      letter-spacing: 1px;
      border-radius: 4px; }

/*##################################################
#########     04. Quality and Cost     #############
###################################################*/
.row-qualityAndCost {
  padding: 0; }

.col-qualityAndCost .col-child {
  padding: 0 5%; }
.col-qualityAndCost .col-child.left {
  background-color: #F9F9F9; }
.col-qualityAndCost .col-child.right {
  background-color: #F0F0F0; }

.row-qualityAndCost a.button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: #ffffff;
  background-color: #292929;
  border: 1px solid #292929;
  border-radius: 4px;
  letter-spacing: 1px; }
  .row-qualityAndCost a.button .faIcon1 {
    display: inline-block;
    margin-left: 16px;
    padding-left: 9px;
    padding-right: 9px; }

.component-qualityAndCost {
  padding: 60px 0; }
  .component-qualityAndCost .heading p {
    font-size: 1.5em;
    font-weight: 600;
    color: #292929;
    line-height: 36px;
    padding-bottom: 40px; }
  .component-qualityAndCost .heading .optional {
    display: none; }
  .component-qualityAndCost .content p {
    color: #636363; }
  .component-qualityAndCost .buttons {
    padding-top: 43px; }

.component.qualityAndCostSkills {
  padding: 60px 0; }
  .component.qualityAndCostSkills .title {
    font-size: 18px;
    font-weight: 600;
    color: #292929; }
  .component.qualityAndCostSkills .skill {
    margin-top: 16px; }
    .component.qualityAndCostSkills .skill:first-child {
      margin-top: 0; }
  .component.qualityAndCostSkills .skillHeader {
    display: flex;
    justify-content: flex-end;
    color: #616161;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px; }
  .component.qualityAndCostSkills .progressBar {
    height: 14px;
    background-color: rgba(70, 70, 70, 0.1);
    width: 100%; }
    .component.qualityAndCostSkills .progressBar .bar {
      width: 5%;
      height: 100%;
      background-color: #f7931d; }
  .component.qualityAndCostSkills .progressBar::-webkit-progress-bar {
    background-color: rgba(70, 70, 70, 0.1); }
  .component.qualityAndCostSkills .progressBar::-webkit-progress-value {
    background-color: #f7931d; }
  .component.qualityAndCostSkills .progressBar::-webkit-progress-value {
    background-color: #46C7DF; }

/*##################################################
##############    05. Why Us?    ###################
###################################################*/
.component-whyUs_largeScreen {
  display: none; }

.component-whyUs_medScreen {
  display: flex;
  flex-direction: column;
  padding: 5em 0 10.625em 0; }
  .component-whyUs_medScreen .componentHeading {
    font-size: 2.0625em;
    font-weight: 600;
    color: #636363;
    text-align: center;
    padding-bottom: 30px; }
  .component-whyUs_medScreen .componentImage img {
    width: 100%;
    height: auto; }
  .component-whyUs_medScreen .componentContent {
    padding: 0.625em 0 3.125em 0; }
    .component-whyUs_medScreen .componentContent p {
      font-size: 15px;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-weight: 400;
      color: #8C8C8C;
      color: #626262; }
  .component-whyUs_medScreen .componentAppendix .item {
    max-height: 68px;
    overflow: hidden;
    transition: all .5s ease-in;
    margin-bottom: 2px; }
  .component-whyUs_medScreen .componentAppendix .item.expand {
    max-height: 15.625em; }
  .component-whyUs_medScreen .componentAppendix .header {
    display: flex;
    height: 68px;
    background-color: #F4F4F4;
    padding-left: 34px;
    align-items: center;
    transition: all 0.5s ease; }
    .component-whyUs_medScreen .componentAppendix .header:last-child {
      margin-bottom: 0; }
    .component-whyUs_medScreen .componentAppendix .header .icon i {
      font-size: 14px;
      color: #8D8D8D; }
    .component-whyUs_medScreen .componentAppendix .header .heading {
      font-size: 14px;
      color: #8C8C8C;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      padding-left: 19px; }
  .component-whyUs_medScreen .componentAppendix .header:hover, .component-whyUs_medScreen .componentAppendix .header.expand {
    background-color: #47c9e5;
    transition: all 0.5s ease; }
    .component-whyUs_medScreen .componentAppendix .header:hover .icon i, .component-whyUs_medScreen .componentAppendix .header:hover .heading, .component-whyUs_medScreen .componentAppendix .header.expand .icon i, .component-whyUs_medScreen .componentAppendix .header.expand .heading {
      color: #ffffff; }
  .component-whyUs_medScreen .componentAppendix .content {
    padding: 20px 10px 20px 20px; }
    .component-whyUs_medScreen .componentAppendix .content p {
      color: #8d8d8d;
      font-size: 15px; }

/*##################################################
##############    Footer         ###################
###################################################*/
.container.footer {
  background-color: #222222; }

.component.footer {
  padding-top: 50px; }
  .component.footer .description .titleLogo {
    height: 45px;
    margin-bottom: 15px; }
    .component.footer .description .titleLogo img {
      height: 100%; }
  .component.footer .description .content p {
    font-size: 14px;
    color: #bababa; }
  .component.footer .description .footerSocial {
    margin-top: 20px; }
    .component.footer .description .footerSocial a {
      color: #ce7107;
      display: inline-block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 12px;
      text-align: center; }
  .component.footer .navigation {
    display: flex;
    justify-content: center; }
    .component.footer .navigation .quickLinks {
      margin-right: 57px; }
    .component.footer .navigation .title {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 19px; }
    .component.footer .navigation .links {
      font-size: 14px;
      color: #CE7107; }
      .component.footer .navigation .links .link {
        margin-bottom: 9px; }
      .component.footer .navigation .links .link:last-child {
        margin-bottom: 0; }
  .component.footer .newsletter {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .component.footer .newsletter .title {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 15px; }
    .component.footer .newsletter .content p {
      font-size: 14px;
      text-align: center;
      color: #bababa; }
    .component.footer .newsletter .inputGroup {
      position: relative;
      display: flex;
      align-items: stretch;
      width: 100%;
      margin-top: 20px; }
      .component.footer .newsletter .inputGroup .formControl {
        color: #bababa;
        height: 48px;
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #bababa;
        border-radius: 25px;
        flex: 1 1 auto;
        letter-spacing: 1px;
        font-size: 14px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
        .component.footer .newsletter .inputGroup .formControl::placeholder {
          color: #bababa; }
        .component.footer .newsletter .inputGroup .formControl :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: red; }
        .component.footer .newsletter .inputGroup .formControl ::-webkit-input-placeholder {
          /* Edge */
          color: red; }
        .component.footer .newsletter .inputGroup .formControl ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: red; }
      .component.footer .newsletter .inputGroup .formControl:focus {
        border-color: #f7931d; }
      .component.footer .newsletter .inputGroup .inputBtn {
        position: absolute;
        top: 0;
        right: 0; }
      .component.footer .newsletter .inputGroup .button {
        padding: 16px 25px;
        border-radius: 25px;
        line-height: 14px;
        color: #fff;
        background-color: #f7931d;
        border: 1px solid #f7931d;
        font-size: 14px; }
        .component.footer .newsletter .inputGroup .button i {
          padding-right: 5px; }

.row.subFooter {
  margin-top: 50px;
  background-color: #1a1a1a; }

.component.subFooter {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #898989;
  padding: 20px 0;
  letter-spacing: 1px; }
  .component.subFooter .footerBrand a {
    color: #f7931d; }
  .component.subFooter .footerPayment {
    display: flex; }
    .component.subFooter .footerPayment .icons {
      margin-right: 10px; }
      .component.subFooter .footerPayment .icons:last-child {
        margin-right: 0; }
    .component.subFooter .footerPayment i {
      font-size: 40px;
      color: #fff; }

@media only screen and (max-width: 47.9375em) {
  .component.footer .description, .component.footer .content p, .component.footer .footerSocial {
    text-align: center; }
  .component.footer .navigation {
    margin-top: 40px; }

  .component.subFooter {
    flex-direction: column; }
    .component.subFooter .footerPayment {
      flex: 0 0 100%;
      flex-basis: 100%; }
    .component.subFooter .footerBrand {
      margin-bottom: 15px; } }
/*Medium devices (tablets, 768px and up)
 min width 48em = 768px */
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. quality and cost
	05. Our Services
	xx. Miscellaneous
*/
@media only screen and (min-width: 48em) {
  /*###############################################
  ##############     01.00 Header    ##############
  ################################################*/
  	/******************************************
  	***             First row               ***
   	*******************************************/
  .component-welcome .rightSection .wrapperContactNumber {
    display: none; }

  /*###############################################
  ############     01.01 mainBanner    ############
  ################################################*/
  .component-mainBanner .heading p {
    font-size: 2.0625em; }
  .component-mainBanner .subHeading p {
    font-weight: 400;
    font-size: 1.125em;
    padding-top: 0.5625em;
    text-transform: uppercase; }
  .component-mainBanner .buttons {
    display: flex;
    padding-top: 1.1875em; }
    .component-mainBanner .buttons .button a {
      background-color: #f7931d; }
    .component-mainBanner .buttons .button1 {
      display: block; }
      .component-mainBanner .buttons .button1 a {
        background-color: #292929; }
    .component-mainBanner .buttons .button2 {
      margin-left: 2.1875em; }

  /*######################################################
  #######              01.02 info               ##########
  ########################################################*/
  /*##########################
  	  row-mainInfo
  ############################*/
  .component-mainInfo {
    padding-bottom: 0; }
    .component-mainInfo .glide__slides {
      padding: 1.1875em 1em 1.1875em 1em;
      padding: 1.1875em 0; }
    .component-mainInfo .glide__bullets {
      padding-bottom: 1.1875em; }

  /*##########################
  		row-appendixInfo
  ############################*/
  .row-appendixInfo {
    display: none; }

  /*#######################################################
  #######          02. Online Presense          ###########
  #########################################################*/
  .component-onlinePresence .heading span {
    display: inline; }
    .component-onlinePresence .heading span:first-letter {
      text-transform: lowercase; }
  .component-onlinePresence .heading, .component-onlinePresence .content {
    display: flex;
    justify-content: center; }
  .component-onlinePresence .heading {
    margin-bottom: 15px; }
  .component-onlinePresence .heading p {
    font-size: 1.875em;
    font-weight: 600;
    line-height: 46px; }
  .component-onlinePresence .content {
    margin-bottom: 20px; }
    .component-onlinePresence .content p {
      padding-top: 0; }
  .component-onlinePresence .content p {
    display: flex;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    text-align: center;
    justify-content: center; }
  .component-onlinePresence .divider {
    display: flex;
    align-items: center;
    justify-content: center; }
    .component-onlinePresence .divider .left, .component-onlinePresence .divider .right {
      display: flex;
      align-items: center;
      height: 10px; }
    .component-onlinePresence .divider .left {
      border-right: 1px solid #d5d5d5; }
    .component-onlinePresence .divider .right {
      border-left: 1px solid #d5d5d5; }
    .component-onlinePresence .divider .divLev1 {
      height: 1px;
      background-color: #d5d5d5;
      width: 150px; }
    .component-onlinePresence .divider .icon {
      padding: 0 9px; }
    .component-onlinePresence .divider .icon i {
      color: #fff;
      left: 50%;
      width: 25px;
      height: 25px;
      background: #292929;
      border-radius: 50%;
      font-size: 12px;
      line-height: 25px;
      text-align: center; }
  .component-onlinePresence .cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .component-onlinePresence .cards .cardHeading {
      font-size: 20px; }
    .component-onlinePresence .cards .cardContent {
      font-size: 14px;
      color: #808080; }
    .component-onlinePresence .cards .thirdRow {
      padding-top: 32px;
      text-align: left; }
  .component-onlinePresence .card {
    width: 80%;
    padding: 42px 37px; }
  .component-onlinePresence .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }

  /*##################################################
  ##############    03. Why Us?    ###################
  ###################################################*/
  .component-whyUs_medScreen .componentImage {
    text-align: center; }
    .component-whyUs_medScreen .componentImage img {
      width: 75%; }

  /*##################################################
  #########     05. Our Services	       #############
  ###################################################*/
  .component-ourServices .header {
    padding-bottom: 5.625em; }
  .component-ourServices .list {
    width: 260px; }

  /*##################################################
  ##############    Footer         ###################
  ###################################################*/
  .component.footer {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px; }
    .component.footer .description, .component.footer .navigation {
      flex: 1 1 50%; }
    .component.footer .newsletter {
      flex: 1 1 100%;
      margin-left: 0;
      margin-right: 0; }

  .component.subFooter {
    justify-content: space-between;
    align-items: center; } }
@media only screen and (min-width: 48em) and (orientation: portrait) {
  /*###############################################
  ##############     01 Landing page    ###########
  ################################################*/
  .landingPage {
    height: auto; }

  /*###############################################
  ############     01.01 mainBanner    ############
  ################################################*/
  .container-mainBanner {
    flex: 0; }
    .container-mainBanner .row-mainBanner {
      height: 22.5em; } }
@media only screen and (max-width: 61.9375em) {
  /*###############################################
  ############       01.02 info        ############
  ################################################*/
  /***************************
  	  row-mainInfo
  ****************************/
  .row-mainInfo {
    padding-left: 0;
    padding-right: 0; }

  /*##################################################
  #########     04. Quality and Cost     #############
  ###################################################*/
  .component-qualityAndCost .heading .exceptSmallScreen {
    display: none; } }
@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
  /*##################################################
  #########     04. Quality and Cost     #############
  ###################################################*/
  .component-qualityAndCost > div, .component-qualityAndCost .buttons {
    text-align: center; }
  .component-qualityAndCost .heading p {
    padding-bottom: 25px; }
  .component-qualityAndCost .buttons {
    padding-top: 25px; }

  /*##################################################
  #########           Footer             #############
  ###################################################*/
  .component.footer .description .content p {
    width: 264px; }
  .component.footer .newsletter {
    margin-top: 55px; }
    .component.footer .newsletter .inputGroup {
      width: 338px; } }
/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
 /*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. Quality and Cost
	xx. Miscellaneous
    
*/
@media only screen and (min-width: 62em) {
  	/*###############################################
  	##############     01.01 2nd row    ##############
      ################################################*/
  .component-navigation .wrapperAtomAnimation, .component-navigation .wrapperHamburger {
    display: none; }
  .component-navigation .wrapper-nav {
    position: relative;
    height: 100%; }
    .component-navigation .wrapper-nav #cbp-spmenu-s2 {
      height: 100%; }
    .component-navigation .wrapper-nav .nav-label {
      display: none; }
    .component-navigation .wrapper-nav .navContainer {
      display: flex;
      height: 100%; }
    .component-navigation .wrapper-nav li a {
      padding-left: 1.25em;
      padding-right: 1.25em;
      height: 100%;
      vertical-align: top;
      display: flex;
      align-items: center; }
    .component-navigation .wrapper-nav li:last-child a {
      padding-right: 0; }

  /*###############################################
  ############     02 mainBanner    ############
  ################################################*/
  .component-mainBanner .heading p {
    font-size: 3.0625em; }
  .component-mainBanner .subHeading p {
    font-size: 1.5em; }

  /*###############################################
  ############     03 info    #####################
  ################################################*/
  .component-mainInfo {
    padding-top: 1.125em; }
    .component-mainInfo .glide__slides {
      justify-content: space-between;
      padding: 1.1875em 0 2em 0; }
    .component-mainInfo .glide__slide {
      width: 23%;
      flex-shrink: 0; }
    .component-mainInfo .glide__bullets {
      display: none; }

  /*##################################################
  #########     04. Quality and Cost     #############
  ###################################################*/
  .col-qualityAndCost {
    display: flex;
    padding: 0; }
    .col-qualityAndCost .col-child {
      flex-basis: 50%;
      display: flex;
      padding: 0; }
      .col-qualityAndCost .col-child.left {
        padding-left: 5%;
        justify-content: flex-end; }
        .col-qualityAndCost .col-child.left .component {
          padding-right: 60px; }
      .col-qualityAndCost .col-child.right {
        padding-right: 5%;
        justify-content: flex-start; }
        .col-qualityAndCost .col-child.right .component {
          padding-left: 60px; }
      .col-qualityAndCost .col-child .component {
        max-width: 60rem;
        flex-basis: 100%; } }
@media only screen and (min-width: 62em) and (min-width: 72.5) {
  .component-qualityAndCost .heading .optional {
    display: block; } }

@media only screen and (min-width: 62em) {
  /*##################################################
  ##############    03. Why Us?    ###################
  ###################################################*/
  .component-whyUs_medScreen {
    display: none; }

  .component-whyUs_largeScreen {
    display: flex;
    justify-content: center;
    padding: 3.125em 0 9.375em 0; }
    .component-whyUs_largeScreen .rightSec {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .component-whyUs_largeScreen .componentHeading {
      font-size: 2.0625em;
      font-weight: 600;
      color: #636363;
      padding-bottom: 30px; }
    .component-whyUs_largeScreen .componentImage img {
      width: 100%;
      height: auto; }
    .component-whyUs_largeScreen .componentContent {
      padding: 0.625em 0 3.125em 0; }
      .component-whyUs_largeScreen .componentContent p {
        font-size: 15px;
        font-weight: 300;
        color: #8C8C8C; }
    .component-whyUs_largeScreen .componentAppendix .item {
      max-height: 68px;
      overflow: hidden;
      transition: all .7s ease-in;
      margin-bottom: 2px; }
    .component-whyUs_largeScreen .componentAppendix .item.expand {
      max-height: 15.625em; }
    .component-whyUs_largeScreen .componentAppendix .header {
      display: flex;
      height: 68px;
      background-color: #F4F4F4;
      padding-left: 34px;
      align-items: center;
      transition: all 0.5s ease;
      transition: background-color 0s; }
      .component-whyUs_largeScreen .componentAppendix .header:last-child {
        margin-bottom: 0; }
      .component-whyUs_largeScreen .componentAppendix .header .icon i {
        font-size: 14px;
        color: #8D8D8D; }
      .component-whyUs_largeScreen .componentAppendix .header .heading {
        font-size: 14px;
        color: #8C8C8C;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        padding-left: 19px; }
    .component-whyUs_largeScreen .componentAppendix .header:hover, .component-whyUs_largeScreen .componentAppendix .header.expand {
      background-color: #47c9e5;
      transition: all 0.5s ease; }
      .component-whyUs_largeScreen .componentAppendix .header:hover .icon i, .component-whyUs_largeScreen .componentAppendix .header:hover .heading, .component-whyUs_largeScreen .componentAppendix .header.expand .icon i, .component-whyUs_largeScreen .componentAppendix .header.expand .heading {
        color: #ffffff; }
    .component-whyUs_largeScreen .componentAppendix .content {
      padding: 20px 0 20px 68px; }
      .component-whyUs_largeScreen .componentAppendix .content p {
        color: #8d8d8d;
        font-size: 15px; } }
/* Extra large devices (large desktops, 1200px and up) 
   min-width 1200px = 75em*/
@media only screen and (min-width: 75em) {
  .col {
    max-width: 120rem; }

  /*#######################################################
  #######          02. Online Presense          ###########
  #########################################################*/
  .component-onlinePresence .cards {
    flex-direction: row;
    justify-content: space-evenly; }
  .component-onlinePresence .card {
    flex-basis: 350px;
    margin: 0 15px; }

  /*################## ################################
  #########     04. Quality and Cost     #############
  ###################################################*/
  .col-qualityAndCost {
    max-width: 100%; }

  .component.qualityAndCost .heading .optional {
    display: block; } }
@media only screen and (min-width: 85.375em) {
  /*###################################################
  #########           Main Banner         #############
  ###################################################*/
  .component-mainBanner .heading p {
    font-size: 3.0625em; }
  .component-mainBanner .subHeading p {
    font-size: 1.5em;
    padding-top: 0.875em; }
  .component-mainBanner .buttons {
    padding-top: 1.6875em; }

  /*###################################################
  #########          Footer               #############
  ###################################################*/
  .component.footer {
    flex-wrap: nowrap; }
    .component.footer .description, .component.footer .navigation, .component.footer .newsletter {
      flex: 1 1 33.33%; }
    .component.footer .newsletter {
      align-items: flex-start;
      margin-top: 0; }
      .component.footer .newsletter .content p {
        text-align: left; } }
/*Double extra large devices 
  min width 100em = 1600px */
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	xx. Miscellaneous
*/
@media only screen and (min-width: 106.25em) {
    /*###############################################
	############    01.01 mainBanner   ##############
	################################################*/
  .component-mainBanner .heading p {
    font-size: 4.0625em; }
  .component-mainBanner .subHeading p {
    font-size: 2.125em;
    padding-top: 1.0625em; }
  .component-mainBanner .buttons {
    padding-top: 1.875em; } }
.dropBtn.activeDropDown .dropDownContent {
  position: absolute;
  display: flex;
  flex-direction: column; }

.dropBtn .dropDownContent {
  display: none;
  border-top: 3px solid #f7931d;
  background-color: #2a2a2a;
  padding: 0 20px;
  width: 220px;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .dropBtn .dropDownContent li > a {
    font-size: 13px;
    color: #c1c1c1;
    border-top: 1px solid #494949;
    padding: 10px 0; }
  .dropBtn .dropDownContent li:first-child > a {
    border-top: 1px solid transparent; }

.dropBtn.hoverEffect .dropDownContent {
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.delay-100ms {
  animation-delay: 100ms; }

.delay-200ms {
  animation-delay: 200ms; }

.delay-300ms {
  animation-delay: 300ms; }

.delay-500ms {
  animation-delay: 500ms; }

.delay-600ms {
  animation-delay: 600ms; }

.delay-700ms {
  animation-delay: 700ms; }

.delay-800ms {
  animation-delay: 800ms; }

.delay-900ms {
  animation-delay: 900ms; }

.delay-1800ms {
  animation-delay: 1800ms; }

.waypoint-hide {
  opacity: 0; }

.waypoint-reveal {
  opacity: 1; }

@keyframes slideInRight {
  0% {
    transform: translate3d(180%, 0, 0); } }

/*# sourceMappingURL=styles.css.map */
