/* Extra small device 
$xsBp-max= max-width = 36.9375em;  //575px */

/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presense
	03. Our Services
	04. quality and cost
	05. Why Us?
	  . Footer
	xx. Miscellaneous
*/




/*###############################################
#######   00. General for small device   ########
################################################*/
.row {
	padding-right: 5%;
	padding-left: 5%;
}
.col {
	width: 100%;
}


/*##################################################
##############   01 Landing page    ################
###################################################*/
.landingPage {
	display: flex;
	flex-direction: column;
	height: 100%;
}



/*##################################################
##############   01.00 Header    ###################
###################################################*/
.container-header {
	font-size: 1.6rem; // 1.6 * 10px = 16px
}

/******************************************
***             First row               ***
*******************************************/

.container-header .row-welcome {
	background-color: #F7931D;
}

.component-welcome {
	font-size: 1.2rem;
	padding: (5em/12) 0;
	color: #fff;
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
	.leftSection, .rightSection {
		display: flex;
		justify-content: space-between;
		> * {
			margin-left: (10em/12);//10px;
			padding-left: 10px;
			border-left: 1px solid rgba(255,255,255,0.6);
			&:first-child {margin: 0; padding: 0; border: 0;}
		}
	}
	i {vertical-align: middle;}

	.wrapperSocialNetwork {
		display: flex;
		.socialNetwork {padding-right: (10em/12);} //10px, base 12px
		.socialNetwork:last-child {padding-right: 0;}
		i {
			font-size: (13em/12); //13px
			color: #fff;
		}
	}
	.wrapperContactNumber i {font-size: (10em/12); position: relative; bottom: 2px;}
}


/*XXXXXXXXXXXXXXXX  Only mobile specific XXXXXXXXXXXXXXX*/

@media only screen and (max-width: 47.9375em) {
	//max-width--> 767px
	.component-welcome {
		justify-content: center;
		.leftSection {display: none;}
	}
}
@media only screen and (max-width: 21.5625em) {
	//max-width--> 320px
	.component-welcome {
		.wrapperLogin {display: none;}
	}
}





/******************************************
***           2nd row                   ***
*******************************************/

//------ Imports ------
@import "03_thirdParty/mobileMenu/mobileMenuBase";
.component-navigation {
	.wrapperAtomAnimation { @import "03_thirdParty/atomAnimation1";}
	.wrapperHamburger {@import "03_thirdParty/mobileMenu/hamburgerAnimation1";} 
}

//------ End of Imports ----



.container-header .row-navigation {
	background-color: #222;
}
.container-header .row-navigation.sticky {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}
.component-navigation {
	font-size: 1.6rem; 
	height: (66em/16);
	display: flex;
	justify-content: space-between;
	align-items: center;
	.wrapperAtomAnimation {
		width: (66em/16);
		height: (66em/16);
		overflow: visible;
		position: relative;
		left: (-15em/16);
	}
	.wrapperLogo{display: flex; align-items: center;}
	.wrapperHamburger {
		position: relative;
		z-index: 98;
		margin-right: (-12em/16);
		display: flex;
		align-items: center;
	}
	.wrapperNavigation {
		position: relative;
		z-index: 99;
	}
	.wrapper-nav {
		position: fixed;
		z-index: 1;
		right: 0;
		li a {
			text-transform: uppercase;
			color: #f3f3f3;
			font-size: 14px;
			transition: all 0.3s ease-in-out
		}
		li a:hover {color: #f7931d}
	}
}



/*##################################################
##############   01.01 mainBanner    ###############
###################################################*/

.container-mainBanner {
	flex: 1;
	.row-mainBanner, .col-mainBanner { height: 100%;}
}
.component-mainBanner {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	
	.heading {
		text-transform: uppercase;
		p {
			font-size: (21em/16);
			font-family: $montserrat;
			font-weight: $semiBold-montserrat;
			color: #ffffff;
		}
		span {color: #F7931D;}
	}
	.subHeading {
		padding-top: (4em/16);
		p {
			font-size: (14em/16);
			font-family: $montserrat;
			font-weight: $regular-montserrat;
			color: #ffffff;
		}
	} 
	.buttons {
		padding-top: (12em/16);
		.button a {
			font-size: (14em/16);
			font-weight: $regular-openSans;
			display: flex;
			align-items: stretch;
			color: #fff;
			height: (40em/16);
			//padding: 4px 25px;
			background-color: rgba(247, 147, 29, 0.81);
			border-radius: 4px;

			.lft, .rft {
				display: flex;
				align-items: center;
			}
			.lft {
				padding: 0 15px 0 25px;
				flex-grow: 1;
				display: flex;
				justify-content: center;
			}
			.rft {
				display: inline-block;
				width: (40em/16);
				text-align: center;
				background-color: rgba(36,36,36,0.12);
				.iconWrapper {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				i {font-size: 11px;}
			}
		}		
		.button1 {display: none;}
	}
}



/*##################################################
#################   01.02 info    ###################
###################################################*/

//------ Imports ------
@import "02_supersetPartials/_infoCarouselSwiping.scss";

//------ End of Imports ----


.container-info {
	background-image: url("../images/info/info_bg.png");
	background-size: auto;
}


/*##########################
		  row-mainInfo
############################*/

.component-mainInfo {	
	padding-top: (30em/16);
	padding-bottom: (18em/16);
	letter-spacing: 1px;
	.glide__slides {
		padding-bottom: (19em/16);
	}
	.glide__slide {
		position: relative;
		padding: (19em/16) 1em;
		background-color: #654928;
		border: 2px solid #8A5E29;
		display: flex;
		align-items: center;
		height: (111em/16);
		border-radius: 4px;
		&:before {
			content: "";
			position: absolute;
			top: 0; left: 20px; bottom: 0; right: 20px;
			box-shadow: 0 8px 20px rgba(0,0,0,0.74);
			z-index: -1;
		}

		.text {
			font-size: (14em/16);
			color: rgba(244, 244, 244, 0.81);
			font-family: $openSans;
			font-weight: $light-openSans;
			text-align: center;
			transition: height 300ms ease;
			line-height: 23px;
		}
	}
	.glide__bullets {
		position: static;
		transform: none;
		display: flex;
		justify-content: center;
	}
	.glide__bullet {
		height: 11px;
		width: 11px;
	}
	.glide__bullet--active {
		background-color: #F7931D;
	}

}


/*##########################
		row-appendixInfo
############################*/
.row-appendixInfo {
	background-color: rgba(17,17,17,0.48);
	background-color: rgba(35,35,35,0.48);
}
.component-appendixInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: (8em/16) 0;

	.text {
		color: #959595;
		font-size: (13em/16);
	}
	a {
		color: #ffffff;
		font-size: (12em/16);
		padding: 4px 24px;
		border: 1px solid #F7931D;
		border-radius: 4px;
	}
}




/*#######################################################
#######          02. Online Presense          ###########
#########################################################*/
.row-onlinePresence {background-color: #f7f7f7;}
.component-onlinePresence {
	padding: (80em/16) 0;

	.heading p {
		font-size: (25em/16);
		font-weight: $regular-openSans;
		line-height: 36px;
	}
	.heading span {
		display: block;
		&:first-letter {text-transform: uppercase;}
	}
	.content p {
		font-size: 1em;
		line-height: 24px;
		font-weight: $regular-openSans;
		color: #696969;
		color: #292929;
		padding-top: (18em/16);
	}
	.divider {
		display: none;
	}
	.cards {
		margin-top: (65em/16);
		.firstRow {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}
		.secoundRow {
			margin-top: 32px;
		}
		.headingIcon {
			font-size: 22px;
			width: 50px;
			padding: 0 12px;
			background-color: #f7931d;
			line-height: 50px;	
			text-align: center;		
			border-radius: 4px;
			box-shadow: 0 10px 20px 0 rgba(247, 147, 29, 0.25);
			color: #f1f1f1;
		}
		.cardHeading {
			font-size: 19px;
			margin-left: (15em/16);
			color: #636363;
		}
		.cardContent {
			font-size: 15px;
			font-weight: $light-openSans;
			line-height: 1.8;
			color: #808080;
			color: #464646;
		}
		.thirdRow {
			padding-top: 32px;
			padding-top: 10px;
			text-align: right;
		}
		.button {
			color: #F7931D;
			font-size: 14px;
			font-weight: $regular-openSans;
			line-height: 11px;
			letter-spacing: 1px;
			&:hover {
				color: #fff;
				border-color: #dd7a08;
				background-color: #dd7a08;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	.card {
		background-color: #fff;
		margin-top: (65em/16);
		padding: 42px 37px;
		padding: 42px 37px 35px 37px;
		box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
		transition: all 0.4s ease;
		&:first-child {
			margin-top: 0;
		}
	}
	
}





/*##################################################
#########     03. Our Services	       #############
###################################################*/
.row-ourServices {
	@media only screen and (max-width: 36.9375em) {
		padding-right: 15px;
		padding-left: 15px;
	}
}
.component-ourServices {
	padding-top: (100em/16);
	.listContainer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.listWrapper1 {
		margin-bottom: 160px;
		border: 1px solid #eeeeee;
		background: #fefefe;
		padding: 10px;
		transition: box-shadow 0.3s, transform 0.3s;

	}
	.listWrapper1:hover {
		box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
  		transform: translateY(-10px);
	}
	.list {
		display: flex;
		flex-direction: column;
		padding: 30px 15px 90px 15px;
		padding: 57px 25px 30px 25px;		
		border-radius: 2px;
		border: 1px solid #f7931d;
	}
	.listIconArea {
		margin-bottom: 40px;
		display: inline-block;
		text-align: center;
		i {
			font-size: 42px;
			line-height: 110px;
			color: #777777;
		}
	}
	.iconOuter {
		height: 110px;
		width: 110px;
		display: block;
		border-radius: 100%;
		background-color: #eaeaea;
		box-shadow: 0 0 0 10px #f4f4f4;
		margin: auto;
		transition: background-color 0.3s, box-shadow 0.5s;
	}
	.listHeading p {
		font-size: 15px;
    	margin-bottom: 15px;
		margin-top: 15px;
		font-family: $montserrat;
		color: #1a1a1a;
    	font-weight: $semiBold-montserrat;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
	}
	.listText {
		font-size: 14px;
		color: #999999;
		text-align: center;
	}
	.listKnowMore {
		text-align: center;
		a:before {
			content: "\2192";
			display: inline-block;
			color: #333333;
			margin-left: 10px;
			vertical-align: top;
			font-size: 22px;
			transition: margin-left 0.2s linear;
			float: right;
			line-height: 1;
			color: #fff;
			display: block;
			margin-top: -2px;
		}
		a {
			margin-top: 35px;
			font-size: 13px;
			color: #999999;
			color: #ffffff;
			background-color: #f7931d;
			text-align: center;
			padding: 8px 21px;
			border: 1px solid #f7931d;
			letter-spacing: 1px;
			border-radius: 4px;
		}

	}
}




/*##################################################
#########     04. Quality and Cost     #############
###################################################*/
.row-qualityAndCost {
	padding: 0;
}
.col-qualityAndCost {
	.col-child {
		padding: 0 5%;
	}
	.col-child.left {
		background-color: #F9F9F9;
	}
	.col-child.right {
		background-color: #F0F0F0;
	}
}
.row-qualityAndCost a.button {
	font-size: 14px;
	line-height: 14px;
	font-weight: $semiBold-openSans;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	color: #ffffff;
	background-color: #292929;
	border: 1px solid #292929;
	border-radius: 4px;
	letter-spacing: 1px;
	.faIcon1 {
		display: inline-block;
		margin-left: 16px;
		padding-left: 9px;
		padding-right: 9px;
	}
}

.component-qualityAndCost {
	padding: 60px 0; 
	.heading p {
		font-size: (24em/16);
		font-weight: $semiBold-openSans;
		color: #292929;
		line-height: 36px;
		padding-bottom: 40px;
	}
	.heading .optional {
		display: none;
	}
	.content p {
		color: #636363;
	}
	.buttons {
		padding-top: 43px;
	}
}


.component.qualityAndCostSkills {
	padding: 60px 0;
	.title {
		font-size: 18px;
		font-weight: $semiBold-openSans;
		color: #292929;
	}
	.skill {
		margin-top: 16px;
		&:first-child {margin-top: 0;}
	}
	.skillHeader {
		display: flex;
		justify-content: flex-end;
		color: #616161;
		font-weight: $semiBold-openSans;
		font-size: 12px;
		letter-spacing: 1px;
	}
	.progressBar{
		height: 14px;
		background-color: rgba(70, 70, 70, 0.1);
		width: 100%;
		.bar {
			width: 5%;
			height: 100%;
			background-color: #f7931d;
		}
	}
	.progressBar {
		&::-webkit-progress-bar {background-color: rgba(70, 70, 70, 0.1)}
		&::-webkit-progress-value {background-color: #f7931d}
		&::-webkit-progress-value {background-color: #46C7DF}
	}
}






/*##################################################
##############    05. Why Us?    ###################
###################################################*/
.component-whyUs_largeScreen {display: none;}
.component-whyUs_medScreen {
	display: flex;
	flex-direction: column;
	padding: (80em/16) 0 (170em/16) 0;

	.componentHeading {
		font-size: (33em/16);
		font-weight: $semiBold-openSans;
		color: #636363;
		text-align: center;
		padding-bottom: 30px;
	}
	.componentImage img{
		width: 100%;
		height: auto;
	}
	.componentContent {
		padding: (10em/16) 0 (50em/16) 0;
		p {
			font-size: 15px;
			font-size: 14px;
			font-family: $montserrat;
			font-weight: $light-openSans;
			font-weight: $regular-montserrat;
			color: #8C8C8C;
			color: rgb(98,98,98)
		}
	}
	.componentAppendix {
		.item {
			max-height: 68px;
			overflow: hidden;
			transition: all .5s ease-in;
			margin-bottom: 2px;
		}
		.item.expand {
			max-height: (250em/16);
		}
		.header {
			display: flex;
			height: 68px;
			background-color: #F4F4F4;
			padding-left: 34px;
			align-items: center;
			transition: all 0.5s ease;

			&:last-child {margin-bottom: 0;}
			
			.icon i {
				font-size: 14px;
				color: #8D8D8D;
			}
			.heading {
				font-size: 14px;
				color: #8C8C8C;
				font-family: $montserrat;
				font-weight: $regular-montserrat;
				padding-left: 19px;
			}
		}
		.header:hover, .header.expand {
			background-color: #47c9e5;
			transition: all 0.5s ease;
			.icon i, .heading {color: #ffffff;}
		}		
		.content {
			padding: 20px 10px 20px 20px;
			p {
				color: rgb(141, 141, 141);
				font-size: 15px;
			}
		}
	}
}





/*##################################################
#########     05. Our Features	       #############
###################################################*/
.row.ourFeatures {
	@media only screen and (max-width: 36.9375em) {
		padding-right: 15px;
		padding-left: 15px;
	}
}
.component.ourFeatures {
	padding-top: 100px;
	padding-bottom: 110px;
	.listContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		>* {flex: 0 1 auto}
	}
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 216px;
		box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
		margin-bottom: 40px;
		//margin-bottom: 60px;
		.listIconWrapper {
			width: 100%;
			height: 210px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: radial-gradient(ellipse at center, #fdfdfd 0%,#f3f3f3 100%); 
		}
		.listHeading {
			font-size: 15px;
			font-family: $montserrat;
			font-weight: $semiBold-montserrat;
			letter-spacing: 2px;
			color: #1a1a1a;
			margin-top: 48px;
			margin-bottom: 40px;
		}
		.listButton	{
			margin-bottom: 48px;
			a {
				font-size: 13px;
				padding: 11px 24px;
				font-family: $montserrat;
				font-weight: $regular-montserrat;
				background-color: #0fd4bb;
				letter-spacing: 1px;
				color: #ffffff;
				border-radius: 3px;
				line-height: 13px;
			}
		}
	}//end of .list Class
}


/*##################################################
#########       06. Our Blog 	       #############
###################################################*/
.row.ourBlog {
	padding-top: 110px;
	padding-bottom: 90px;
	background-color: #f7f7f7;
}
.component.ourBlog {
	.listContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.list {
		margin-bottom: 30px;
		//width: 370px;
		flex: 0 1 370px;
		max-width: 370px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
		transition: box-shadow 0.3s, transform 0.3s;
		background-color: #fff;
		
		.postThumbnail {
			height: 304px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			.left.tag {
				margin: 15px;
				font-size: 14px;
    			font-weight: 300;
				background-color: #1a1a1a;
				border-radius: 20px;
				color: #e6e6e6;
				display: block;
				font-size: 13px;
				padding: 2px 12px 3px;
				transition: background-color 0.5s;
				text-transform: uppercase;
				&:hover {
					background-color: #4d4d4d;
    				color: #fff;
				}
			}
			.right.date {
				margin: 5px;
				padding: 10px;
				text-transform: uppercase;
				background-color: #0fd4bb;
				text-align: center;
				color: #fff;
				.day {
					padding: 0 5px 10px 5px;
					font-size: 32px;
					letter-spacing: 2px;
					text-align: center;
					border-bottom: 1px solid rgba(255, 255, 255, 0.6);
					margin-bottom: 10px;
				}
				.monthyear {
					font-size: 14px;
    				line-height: 1;
    				font-weight: $semiBold-openSans;
					letter-spacing: 1px;
					p {
						margin: 5px;
						letter-spacing: 1px;
					}
				}
			}
		}
		.postMain {
			display: flex;
			flex-direction: column;
			padding: 0 50px 40px 50px;
		}
		.pin {
			align-self: flex-end;
			margin-right: 15px;
			background-color: #4d4d4d;
			border: 3px solid #fff;
			height: 50px;
			width: 50px;
			border-radius: 100%;
			//transform: translateY(-50%);
			margin-top: -28px;
			display: flex;
			align-items: center;
			justify-content: center;
			i {color: #fff;}
		}
		.postTitle {
			font-family: $montserrat;
			font-weight: $semiBold-montserrat;
			font-size: 15px;
			color: #1a1a1a;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin: 15px 0;
		}
		.postContent {
			font-size: 14px;
			font-weight: $regular-montserrat;
			color: #999999;
			line-height: 1.8;
		}
		.button {
			align-self: flex-start;
			margin-top: 30px;
			color: #b3b3b3;
			font-family: $montserrat;
			font-size: 13px;
			font-weight: $regular-montserrat;
			text-transform: uppercase;
			transition: all 0.3s;
			border-top: 1px solid #b3b3b3;
			border-bottom: 1px solid #b3b3b3;
			&:hover {
				color: #00C0FF;
				border: 1px solid #00c0ff;
				padding: 0 10px;
				i {margin-left: 25px;}
			}
			i {
				margin-left: 10px;
				transition: margin-left 0.2s linear;
			}
		}
	}
}



/*##################################################
##############    Footer         ###################
###################################################*/
.container.footer {
	background-color: #222222;
}
.component.footer {
	padding-top: 50px;
	.description {
		.titleLogo {
			height: 45px;
			margin-bottom: 15px;
			img {
				height: 100%;
			}
		}
		.content p {
			font-size: 14px;
			// letter-spacing: 1px;
			color: #bababa;
		}
		.footerSocial {
			margin-top: 20px;
			a {
				color: #ce7107;
				display: inline-block;
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 12px;
				text-align: center;
			}
		}
	}
	.navigation {
		display: flex;
		justify-content: center;
		.quickLinks {
			margin-right: 57px;
		}
		.title {
			font-size: 18px;
			font-weight: $semiBold-openSans;
			color: #ffffff;
			margin-bottom: 19px;
		}
		.links {
			font-size: 14px;
			color: #CE7107;
			.link {margin-bottom: 9px;}
			.link:last-child {margin-bottom: 0}
		}
	}
	.newsletter {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.title {
			font-size: 18px;
			font-weight: $semiBold-openSans;
			color: #ffffff;
			margin-bottom: 15px;
		}
		.content p {
			font-size: 14px;
			// letter-spacing: 1px;
			text-align: center;
			color: #bababa;
		}
		.inputGroup {
			position: relative;
			display: flex;
			align-items: stretch;
			width: 100%;
			margin-top: 20px;
			.formControl {
				color: #bababa;
				height: 48px;
				padding: 10px 20px;
				background-color: transparent;
				border: 2px solid #bababa;
				border-radius: 25px;
				flex: 1 1 auto;
				letter-spacing: 1px;
				font-size: 14px;
				transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				&::placeholder {
					color: #bababa;
				}
				:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color: red;
				}
				::-webkit-input-placeholder { /* Edge */
					color: red;
				}
				::-ms-input-placeholder { /* Microsoft Edge */
					color: red;
				}
			}
			.formControl:focus {
				border-color: #f7931d;
			}
			.inputBtn {
				position: absolute;
				top: 0;
				right: 0;
			}
			.button {
				padding: 16px 25px;
				border-radius: 25px;
				line-height: 14px;
				color: #fff;
				background-color: #f7931d;
				border: 1px solid #f7931d;
				font-size: 14px;
				i {padding-right: 5px;}
			}
		}
	}
}


//--- .row.subFooter
.row.subFooter {
	margin-top: 50px;
	background-color: #1a1a1a;
}
.component.subFooter {
	font-size: 14px;
	display: flex;
	align-items: center;
	color: #898989;
	padding: 20px 0;
	letter-spacing: 1px;
	.footerBrand {
		a {color: #f7931d}
	}
	.footerPayment {
		display: flex;
		.icons {
			margin-right: 10px;
			&:last-child {margin-right: 0;}
		}
		i{
			font-size: 40px;
			color: #fff;
		}
	}
}

//screen < tablet  
@media only screen and (max-width: 47.9375em) {
	.component.footer {
		.description, .content p, .footerSocial {
			text-align: center
		}
		.navigation {
			margin-top: 40px;
		}
	}
	.component.subFooter {
		flex-direction: column;
		.footerPayment {
			flex: 0 0 100%;
			flex-basis: 100%;
		}
		.footerBrand {
			margin-bottom: 15px;
		}
	}
}



