 /*Medium devices (tablets, 768px and up)
  min width 48em = 768px */
  
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. quality and cost
	xx. Miscellaneous
*/



@media only screen and (min-width: 48em) {

	/*###############################################
	##############     01.00 Header    ##############
	################################################*/	

	/******************************************
	***             First row               ***
 	*******************************************/
	.component-welcome .rightSection .wrapperContactNumber {display: none;}



	/*###############################################
	############     01.01 mainBanner    ############
	################################################*/

	.component-mainBanner {
		.heading p {
			font-size: (33em/16);
		}
		.subHeading p {
			font-weight: $regular-openSans;
			font-size: (18em/16);
			padding-top: (9em/16);
			text-transform: uppercase;
		}
		.buttons {
			display: flex;
			padding-top: (19em/16);
			.button a {
				background-color: rgba(247, 147, 29, 1);
			}
			.button1 {
				display: block;
				a {background-color: rgb(41, 41, 41);}
			}
			.button2 {
				margin-left: (35em/16);
			}

		}
	}

	/*######################################################
	#######              01.02 info               ##########
	########################################################*/
	/*##########################
		  row-mainInfo
	############################*/
	.component-mainInfo {
		padding-bottom: 0;
		.glide__slides {
			padding: (19em/16) 1em (19em/16) 1em;
			padding: (19em/16) 0;
		}
		.glide__bullets {
			padding-bottom: (19em/16);
		}
	}
	/*##########################
			row-appendixInfo
	############################*/
	.row-appendixInfo {display: none;}





	/*#######################################################
	#######          02. Online Presense          ###########
	#########################################################*/
	.component-onlinePresence {
		.heading span {
			display: inline;
			&:first-letter {
				text-transform: lowercase;
			}
		}
		.heading, .content {
			display: flex;
			justify-content: center;
		}
		.heading {
			margin-bottom: 15px;
		}
		.heading p {
			font-size: (30em/16);
			font-weight: $semiBold-openSans;
			line-height: 46px;
		}
		.content {
			margin-bottom: 20px;
			p {
				padding-top: 0;
			}
		}
		.content p {
			display: flex;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
			text-align: center;
			justify-content: center;
		}
		.divider {
			display: flex;
			align-items: center;
			justify-content: center;
			.left, .right {
				display: flex;
				align-items: center;
				height: 10px;
			}
			.left {
				border-right: 1px solid #d5d5d5;
			}
			.right {
				border-left: 1px solid #d5d5d5;
			}
			.divLev1 {
				height: 1px;
				background-color: #d5d5d5;
				width: 150px;
			}
			.icon {
				padding: 0 9px;
			}
			.icon i{
				color: #fff;
				left: 50%;
				width: 25px;
				height: 25px;
				background: #292929;
				border-radius: 50%;
				font-size: 12px;
				line-height: 25px;
				text-align: center;
			}
		}
		.cards {
			display: flex;
			flex-direction: column;
			align-items: center;
			.cardHeading {
				font-size: 20px;
			}
			.cardContent {
				font-size: 14px;
				color: #808080;
			}
			.thirdRow {
				padding-top: 32px;
				text-align: left;
			}
		}
		.card {
			width: 80%;
			padding: 42px 37px;
		}
		.card:hover {
			transform: translateY(-10px);
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);	
		}
	}
	 
	

	/*##################################################
	##############    03. Why Us?    ###################
	###################################################*/
	.component-whyUs_medScreen {
		.componentImage {
			text-align: center;
			img {width: 75%;}
		}
	}
	
	/*##################################################
	##############    04 Quality and cost    ###########
	###################################################*/
	.component-qualityAndCost {
		.heading {
			padding-bottom: (18em/16);
			p {font-size: (27em/16);}
		}
	}

 	
} 
















@media only screen and (min-width: 48em) and (orientation: portrait) {

	/*###############################################
	##############     01 Landing page    ###########
	################################################*/	
	.landingPage {height: auto;}

	/*###############################################
	############     01.01 mainBanner    ############
	################################################*/
	.container-mainBanner {
		flex: 0;
		.row-mainBanner {
			height: (360em/16);
		}
	}


}




@media only screen and (max-width: 61.9375em) {

	/*###############################################
	############       01.02 info        ############
	################################################*/

	/*##########################
		  row-mainInfo
	############################*/
	.row-mainInfo {
		padding-left: 0;
		padding-right: 0;
	}

}