/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	xx. Miscellaneous
    
*/

@media only screen and (min-width: 62em) {

	/*###############################################
	##############     01.01 2nd row    ##############
    ################################################*/	 
    .component-navigation {
        .wrapperAtomAnimation, .wrapperHamburger {
            display: none;
		}
		.wrapper-nav {
			position: relative;
			.nav-label {display:none;}
			ul {
				display: flex;
			}
			li a {
				font-size: (14em/16);
				padding-left: (20em/16);
				padding-right: (20em/16);
			}
			li:last-child a {
				padding-right: 0;
			}
		}
    }
    


	/*###############################################
	############     02 mainBanner    ############
	################################################*/

	.component-mainBanner {
		.heading p {
			font-size: (49em/16);
		}
		.subHeading p {
			font-size: (24em/16);
		}
	}
	 
	

	/*###############################################
	############     03 info    #####################
	################################################*/

	.component-mainInfo {
		padding-top: (18em/16);
		.glide__slides {
			justify-content: space-between;
			padding: (19em/16) 0 (32em/16) 0;

		}
		.glide__slide {
			width: 23%;
			flex-shrink: 0;
		}
		.glide__bullets {display: none;}
	}



	/*##################################################
	##############    03. Why Us?    ###################
	###################################################*/
	.component-whyUs_medScreen {display: none;}
	.component-whyUs_largeScreen {
		display: flex;
		justify-content: center;
		padding: (50em/16) 0 (150em/16) 0;
		
		.rightSec {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.componentHeading {
			font-size: (33em/16);
			font-weight: $bold-openSans;
			color: #636363;
			padding-bottom: 30px;
		}
		.componentImage img{
			width: 100%;
			height: auto;
		}
		.componentContent {
			padding: (10em/16) 0 (50em/16) 0;
			p {
				font-size: 15px;
				font-weight: $light-openSans;
				  color: #8C8C8C;
			}
		}
		.componentAppendix {
			.item {
				display: flex;
				height: 68px;
				background-color: #F4F4F4;
				padding-left: 34px;
				align-items: center;
				margin-bottom: 2px;
	
				&:last-child {margin-bottom: 0;}
				
				.icon i {
					font-size: 14px;
					color: #8D8D8D;
				}
				.heading {
					font-size: 14px;
					color: #8C8C8C;
					font-family: $montserrat;
					font-weight: $regular-montserrat;
					padding-left: 19px;
				}
			}
		}
	}



}