/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content 
	00. General for small device
	01. Header
		01.00 First row
		01.01 2nd row
	02. BannerAppendix
	xx. Miscellaneous
    
*/

@media only screen and (min-width: 62em) {

	/*###############################################
	##############     01.01 2nd row    ##############
    ################################################*/	 
    .component-navigation {
        .wrapperAtomAnimation, .wrapperHamburger {
            display: none;
		}
		.wrapper-nav {
			position: relative;
			.nav-label {display:none;}
			ul {
				display: flex;
			}
			li a {
				font-size: (14em/16);
				padding-left: (20em/16);
				padding-right: (20em/16);
			}
			li:last-child a {
				padding-right: 0;
			}
		}
    }
    


	/*###############################################
	############     02 mainBanner    ############
	################################################*/

	.component-mainBanner {
		.heading p {
			font-size: (49em/16);
		}
		.subHeading p {
			font-size: (24em/16);
		}
	}
	 
	

	/*###############################################
	############     03 info    #####################
	################################################*/

	.component-mainInfo {
		.glide__bullets {display: none;}
	}

}