/* Extra large devices (large desktops, 1200px and up) 
   min-width 1200px = 75em*/

@media only screen and (min-width: 75em) {

	.row {
		//padding-right: 19%;
		//padding-left: 19%;
	}
	.col {
		max-width: 120rem; //1200px
	}


}



@media only screen and (min-width: 85.375em) {
	.component-mainBanner {
		.heading p {
			font-size: (49em/16);
		}
		.subHeading p {
			font-size: (24em/16);
			padding-top: (21em/16) * (16/24);

		}
		.buttons {
			padding-top: (27em/16);
		}
	}
}