 /*Medium devices (tablets, 768px and up)
  min width 48em = 768px */
  
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
	02. Online Presence
	03. Why us?
	04. quality and cost
	05. Our Services
	xx. Miscellaneous
*/



@media only screen and (min-width: 48em) {


	/*#######################################################
	#######          02. Online Presense          ###########
	#########################################################*/
	 .component-onlinePresence {
	
		.cards {
			display: flex;
			flex-direction: column;
			align-items: center;
			.cardHeading {
				font-size: 20px;
			}
			.cardContent {
				font-size: 14px;
				color: #808080;
			}
			.thirdRow {
				position: relative;
				padding-top: 25px;
				text-align: left;
			}
			.button {
				position: absolute;
				transition: all 0.3s ease-in-out;
			}
		}
		.card {
			width: 80%;
			padding: 42px 37px 59px 37px;
		}
		.card:hover {
			transform: translateY(-10px);
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);	
		}
	}
	 
	

	/*##################################################
	#########     05. Our Services	       #############
	###################################################*/
	.component-ourServices {
		.header {padding-bottom: (90em/16);}
		.list {
			width: 260px;
		}
	}

	/*##################################################
	#########     03. Our Features	       #############
	###################################################*/	
	.component.ourFeatures {
		.listContainer {
		}
		.list {
			margin-right: 30px;
		}
	}



	/*##################################################
	#########       06. Our Blog 	       #############
	###################################################*/
	.component.ourBlog {
		.list:hover {
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    		transform: translateY(-10px);
		}
	}




}//end of media query min-width 48em














// /*##########################################################
// ############################################################
// #######											############
// #######											############
// #######											############
// #######				screen >= tablet			############
// #######				(Portrait Mode)				############
// #######											############
// #######											############
// ############################################################
// ##########################################################*/	

// @media only screen and (min-width: 48em) and (orientation: portrait) {

// 	/*###############################################
// 	##############     01 Landing page    ###########
// 	################################################*/	
// 	.landingPage {height: auto;}

// 	/*###############################################
// 	############     01.01 mainBanner    ############
// 	################################################*/
// 	.container-mainBanner {
// 		.row-mainBanner {
// 			height: (360em/16);
// 		}
// 	}


// }


/*##########################################################
############################################################
#######											############
#######											############
#######											############
#######				screen < desktop			############
#######											############
#######											############
#######											############
############################################################
##########################################################*/				   

@media only screen and (max-width: 61.9375em) {


	/*###############################################
	############       01.02 info        ############
	################################################*/

	/***************************
		  row-mainInfo
	****************************/
	.row-mainInfo {
		padding-left: 0;
		padding-right: 0;
	}



	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/

	.component-qualityAndCost {
		.heading .exceptSmallScreen {
			display: none;
		}
	}

}//end of media query













/*##########################################################
############################################################
#######											############
#######											############
#######											############
#######		   tablet < SCREEN <desktop			############
#######											############
#######											############
#######											############
############################################################
##########################################################*/

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
//only tablet screen


	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/

	.component-qualityAndCost {
		>div, .buttons {
			text-align: center;
		}
		.heading p {
			padding-bottom: 25px;
		}
		.buttons {
			padding-top: 25px;
		}
	}




}//end of media query