 /*Medium devices (tablets, 768px and up)
  min width 48em = 768px */
  
/*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. quality and cost
	05. Our Services
	xx. Miscellaneous
*/



@media only screen and (min-width: 48em) {

	/*###############################################
	##############     01.00 Header    ##############
	################################################*/	

	/******************************************
	***             First row               ***
 	*******************************************/
	.component-welcome .rightSection .wrapperContactNumber {display: none;}



	/*###############################################
	############     01.01 mainBanner    ############
	################################################*/

	.component-mainBanner {
		.heading p {
			font-size: (33em/16);
		}
		.subHeading p {
			font-weight: $regular-openSans;
			font-size: (18em/16);
			padding-top: (9em/16);
			text-transform: uppercase;
		}
		.buttons {
			display: flex;
			padding-top: (19em/16);
			.button a {
				background-color: rgba(247, 147, 29, 1);
			}
			.button1 {
				display: block;
				a {background-color: rgb(41, 41, 41);}
			}
			.button2 {
				margin-left: (35em/16);
			}

		}
	}



	
	




	/*#######################################################
	#######          02. Online Presense          ###########
	#########################################################*/
	.component-onlinePresence {
		.heading span {
			display: inline;
			&:first-letter {
				text-transform: lowercase;
			}
		}
		.heading, .content {
			display: flex;
			justify-content: center;
		}
		.heading {
			margin-bottom: 15px;
		}
		.heading p {
			font-size: (30em/16);
			font-weight: $semiBold-openSans;
			line-height: 46px;
		}
		.content {
			margin-bottom: 20px;
			p {
				padding-top: 0;
			}
		}
		.content p {
			display: flex;
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
			text-align: center;
			justify-content: center;
		}
		.divider {
			display: flex;
			align-items: center;
			justify-content: center;
			.left, .right {
				display: flex;
				align-items: center;
				height: 10px;
			}
			.left {
				border-right: 1px solid #d5d5d5;
			}
			.right {
				border-left: 1px solid #d5d5d5;
			}
			.divLev1 {
				height: 1px;
				background-color: #d5d5d5;
				width: 150px;
			}
			.icon {
				padding: 0 9px;
			}
			.icon i{
				color: #fff;
				left: 50%;
				width: 25px;
				height: 25px;
				background: #292929;
				border-radius: 50%;
				font-size: 12px;
				line-height: 25px;
				text-align: center;
			}
		}
		.cards {
			display: flex;
			flex-direction: column;
			align-items: center;
			.cardHeading {
				font-size: 20px;
			}
			.cardContent {
				font-size: 14px;
				color: #808080;
			}
			.thirdRow {
				position: relative;
				padding-top: 25px;
				text-align: left;
			}
			.button {
				position: absolute;
				padding: 7px 15px;
				border: 1px solid #dd7a08;
				transition: all 0.3s ease-in-out;
			}
		}
		.card {
			width: 80%;
			padding: 42px 37px 59px 37px;
		}
		.card:hover {
			transform: translateY(-10px);
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);	
		}
	}
	 
	

	/*##################################################
	#########     05. Our Services	       #############
	###################################################*/
	.component-ourServices {
		.header {padding-bottom: (90em/16);}
		.list {
			width: 260px;
		}
	}

	/*##################################################
	#########     03. Our Features	       #############
	###################################################*/	
	.component.ourFeatures {
		.listContainer {
		}
		.list {
			margin-right: 30px;
		}
	}



	/*##################################################
	#########       06. Our Blog 	       #############
	###################################################*/
	.component.ourBlog {
		.list:hover {
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    		transform: translateY(-10px);
		}
	}

	/*##################################################
	##############    Footer         ###################
	###################################################*/
	.component.footer {
		display: flex;
		flex-wrap: wrap;
		letter-spacing: 1px;
		.description, .navigation {flex: 1 1 50%}
		.newsletter {
			flex: 1 1 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.component.subFooter {
		justify-content: space-between;
		align-items: center;
	}
	 
	







}//end of media query min-width 48em














/*##########################################################
############################################################
#######											############
#######											############
#######											############
#######				screen >= tablet			############
#######				(Portrait Mode)				############
#######											############
#######											############
############################################################
##########################################################*/	

@media only screen and (min-width: 48em) and (orientation: portrait) {

	/*###############################################
	##############     01 Landing page    ###########
	################################################*/	
	.landingPage {height: auto;}

	/*###############################################
	############     01.01 mainBanner    ############
	################################################*/
	.container-mainBanner {
		flex: 0;
		.row-mainBanner {
			height: (360em/16);
		}
	}


}


/*##########################################################
############################################################
#######											############
#######											############
#######											############
#######				screen < desktop			############
#######											############
#######											############
#######											############
############################################################
##########################################################*/				   

@media only screen and (max-width: 61.9375em) {

	/*###############################################
	############     01.01 mainBanner    ############
	###############################################*/
	.container-mainBanner {
		.waypoint-hide {opacity: 1;} //editing the inline-style effect
	}

	/*###############################################
	############       01.02 info        ############
	################################################*/

	/***************************
		  row-mainInfo
	****************************/
	.row-mainInfo {
		padding-left: 0;
		padding-right: 0;
	}



	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/

	.component-qualityAndCost {
		.heading .exceptSmallScreen {
			display: none;
		}
	}

}//end of media query













/*##########################################################
############################################################
#######											############
#######											############
#######											############
#######		   tablet < SCREEN <desktop			############
#######											############
#######											############
#######											############
############################################################
##########################################################*/

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
//only tablet screen


	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/

	.component-qualityAndCost {
		>div, .buttons {
			text-align: center;
		}
		.heading p {
			padding-bottom: 25px;
		}
		.buttons {
			padding-top: 25px;
		}
	}


	/*##################################################
	#########           Footer             #############
	###################################################*/

	.component.footer {
		.description {
			.content p {
				width: 264px;
			}
		}
		.newsletter {
			margin-top: 55px;
			.inputGroup {
				width: 338px;
			}
		}
	}
	



}//end of media query