
@media only screen and (min-width: 48em) {


	/*##################################################
	#########     03. Our Features	       #############
	###################################################*/	
	.component.ourFeatures {
		.listContainer {
		}
		.list {
			margin-right: 30px;
		}
	}



	/*##################################################
	#########       06. Our Blog 	       #############
	###################################################*/
	.component.ourBlog {
		.list:hover {
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    		transform: translateY(-10px);
		}
	}




}//end of media query min-width 48em




