/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. Quality and Cost
	xx. Miscellaneous
    
*/

@media only screen and (min-width: 62em) {


	


	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/
	.col-qualityAndCost {
		display: flex;
		padding: 0;
		.col-child {
			flex-basis: 50%;
			display: flex;
			padding: 0;
			&.left {
				padding-left: 5%;
				justify-content: flex-end;
				.component {
					padding-right: 60px
				}
			}
			&.right {
				padding-right: 5%;
				justify-content: flex-start;
				.component {
					padding-left: 60px;
				}
			}
			.component {
				max-width: (120rem/2);
				flex-basis: 100%;
				
			}
		}
	}
	.component-qualityAndCost {
		.heading .optional {
			@media only screen and (min-width: 72.5) {
				display: block;
			}
		}
	}

	/*##################################################
	#########     03. Our Features	       #############
	###################################################*/	
	.component.ourFeatures {
		.list {
			//margin-right: 30px;
			transition: box-shadow 0.3s, transform 0.3s;
			&:last-child {margin-right: 0;}
		}
		.list:hover {
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
			transform: translateY(-10px);
		}
	}


	/*##################################################
	#########       06. Our Blog 	       #############
	###################################################*/
	.component.ourBlog {
		.listContainer {
			flex-direction: row;
		}
		.list {margin-right: 30px;}
		.list:last-child {
			margin-right: 0;
		}
	}









}