/* Large devices (desktops, 992px and up)
   min-width 992px = 62em 
   max-width 1199px =74.9375em */
  
  

 /*
	Content
	00. General for small device
	01. Landing Page
		01.00 Header
		01.01 mainBanner
		01.02 info
			01.02.00 appendixAd
	02. Online Presence
	03. Why us?
	04. Quality and Cost
	xx. Miscellaneous
    
*/

@media only screen and (min-width: 62em) {



	.component.bannerFooter {
		.cards {
			position: absolute;
			width: 100%;
			bottom: 0;
			font-size: 1rem; //10px
			display: flex;
			transform: translate(0%,50%);
			justify-content: center;
			.card {
				padding: 1.8em;

				&:first-child {
					background: #2b2b2b url('../assets/icons/clock1.png') no-repeat right -3.4em top -2.3em;
					background-size: 22.7em;
				}
				&:nth-child(2) {
					background: #dd993a url('../assets/icons/world.png') no-repeat right -2.3em top -1.2em;
					background-size:18.4em;
					.innerContainer {
						background-color:rgba(255, 255, 255, 0.14);
						border-color: rgba(255, 255, 255, 0.34);
					}
					.text {
						color: #fff;
					}
				}
				&:last-child {
					background: #2b2b2b url('../assets/icons/setting.png') no-repeat right -6.6em top -3.4em;
					background-size: 25.0em;
				}
			}
			.innerContainer {
				width: 27.5em;
				height: 100%;
				padding-top: 2.2em;
				padding-bottom: 2.3em;
				background-color: rgba(178, 178, 178, 0.1);
				border: 1px solid rgba(112, 112, 112, 0.34);
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.wrapperContent {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 20.6em;
				letter-spacing: 1px;
			}
			.label {
				font-size: 1.6em;
				font-weight: $semiBold-openSans;
				color: #fff;
				padding-bottom: (11em/16);
			}
			.text {
				font-size: 1.4em;
				font-weight: $semiBold-openSans;
				color: #8a8a8a;
				text-align: center;
			}
		}
		@media only screen and (min-width: 100em) {
			.cards {
				font-size: 1.25rem;
				.label {font-size: 1.4em;}
				.text {font-size: 1.3em;}
			}
		}
	}
	 
	


	/*##################################################
	#########     04. Quality and Cost     #############
	###################################################*/
	.col-qualityAndCost {
		display: flex;
		padding: 0;
		.col-child {
			flex-basis: 50%;
			display: flex;
			padding: 0;
			&.left {
				padding-left: 5%;
				justify-content: flex-end;
				.component {
					padding-right: 60px
				}
			}
			&.right {
				padding-right: 5%;
				justify-content: flex-start;
				.component {
					padding-left: 60px;
				}
			}
			.component {
				max-width: (120rem/2);
				flex-basis: 100%;
				
			}
		}
	}
	.component-qualityAndCost {
		.heading .optional {
			@media only screen and (min-width: 72.5) {
				display: block;
			}
		}
	}

	/*##################################################
	#########     03. Our Features	       #############
	###################################################*/	
	.component.ourFeatures {
		.list {
			//margin-right: 30px;
			transition: box-shadow 0.3s, transform 0.3s;
			&:last-child {margin-right: 0;}
		}
		.list:hover {
			box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
			transform: translateY(-10px);
		}
	}


	/*##################################################
	#########       06. Our Blog 	       #############
	###################################################*/
	.component.ourBlog {
		.listContainer {
			flex-direction: row;
		}
		.list {margin-right: 30px;}
		.list:last-child {
			margin-right: 0;
		}
	}









}