




@media only screen and (min-width: 85.375em) {
	// 85.375em =1366



	/*###################################################
	#########          Footer               #############
	###################################################*/
	.component.footer {
		flex-wrap: nowrap;
		.description, .navigation, .newsletter {
			flex: 1 1 33.33%;
		}
		.newsletter {
			align-items: flex-start;
			margin-top: 0;
			.content p {
				text-align: left;
			}
		}
	}


}