.bannerMain {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}


//---------    Heading   ---------------

.bannerMain_heading {
    text-transform: uppercase;
}
.bannerMain_heading p {
    font-size: (21em/16);
    font-family: $montserrat;
    font-weight: $semiBold-montserrat;
    color: #ffffff;
    @media only screen and (min-width: 48em) {
        font-size: (33em/16);
    }
    @media only screen and (min-width: 62em) {
        font-size: (49em/16);
    }
}
.bannerMain_heading span {
    color: #F7931D;
}

//---------    subheading   ---------------
.bannerMain_subHeading {
    padding-top: (4em/16);
}
.bannerMain_subHeading p {
    font-size: (14em/16);
    font-family: $montserrat;
    font-weight: $regular-montserrat;
    color: #ffffff;
    @media only screen and (min-width: 48em) {
        font-weight: $regular-openSans;
        font-size: (18em/16);
        padding-top: (9em/16);
        text-transform: uppercase;
    }
    @media only screen and (min-width: 62em) {
        font-size: (24em/16);
    }
    @media only screen and (min-width: 83.375em) {
        padding-top: (21em/16) * (16/24);
    }
}

