.bannerMain {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}


//---------    Heading   ---------------

.bannerMain_heading {
    text-transform: uppercase;
}
.bannerMain_heading p {
    font-size: (21em/16);
    font-family: $montserrat;
    font-weight: $semiBold-montserrat;
    color: #ffffff;
    @media only screen and (min-width: 48em) {
        font-size: (33em/16);
    }
    @media only screen and (min-width: 62em) {
        font-size: (49em/16);
    }
}
.bannerMain_heading span {
    color: #F7931D;
}

//---------    subheading   ---------------
.bannerMain_subHeading {
    padding-top: (4em/16);
}
.bannerMain_subHeading p {
    font-size: (14em/16);
    font-family: $montserrat;
    font-weight: $regular-montserrat;
    color: #ffffff;
    @media only screen and (min-width: 48em) {
        font-weight: $regular-openSans;
        font-size: (18em/16);
        padding-top: (9em/16);
        text-transform: uppercase;
    }
    @media only screen and (min-width: 62em) {
        font-size: (24em/16);
    }
    @media only screen and (min-width: 83.375em) {
        padding-top: (21em/16) * (16/24);
    }
}


//---------    buttons   ---------------

.bannerMain_buttons {
    padding-top: (12em/16);
    @media only screen and (min-width: 48em) {
        display: flex;
        padding-top: (19em/16);
    }
    @media only screen and (min-width: 85.375em) {
        padding-top: (27em/16);
    }
}
.bannerMain_buttons .button1 {
    display: none;
    @media only screen and (min-width: 48em) {
        display: block;
        a {background-color: rgb(41, 41, 41);}
    }
}
.bannerMain_buttons .button2 {
    margin-left: (35em/16);
}


.bannerMain_buttons a {
    font-size: (14em/16);
    font-weight: $regular-openSans;
    display: flex;
    align-items: stretch;
    color: #fff;
    height: (40em/16);
    //padding: 4px 25px;
    background-color: rgba(247, 147, 29, 0.81);
    border-radius: 4px;
    @media only screen and (min-width: 48em) {
        background-color: rgba(247, 147, 29, 1);
    }
}
.bannerMain_buttons_text, .bannerMain_buttons_icon {
    display: flex;
    align-items: center;
}
.bannerMain_buttons_text {
    padding: 0 15px 0 25px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.bannerMain_buttons_icon {
    display: inline-block;
    width: (40em/16);
    text-align: center;
    background-color: rgba(36,36,36,0.12);
}
.bannerMain_buttons_icon .iconWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerMain_buttons_icon i {
    font-size: 11px;
}
