/* 
    source: codepen non-fork
    *******Put the below element In html*********

    <div class="center">
        <div class="down"></div>
    </div> 

*/





/* *********************************************
************************************************
************************************************
********************************************** */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    
  }
  .down {
    position: relative;
    width: 35px;
    height: 56px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    overflow: hidden;
  }
  .down:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #fff;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    animation: animate 1.3s linear infinite;
  }
  .down:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 11px;
    background: #fff;
    left: 50%;
    top: 5px;
    transform: translate(-50%, 0);
    border-radius: 3px;
  }
  @keyframes animate {
    0% {
      transform: translate(-50%, 10px);
      opacity: 0;
    }
    80% {
      transform: translate(-50%, 50px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 100px);
      opacity: 0;
    }
  }