
.component-navigation .wrapper-nav { 
	@import "sideMenu";
	
	ul {overflow: auto;}
}


@media only screen and (max-width: 61.9375em) {
	//class for disable body scrolling when the menu is open
	.disableScroll {
		overflow: hidden;            
	}
	//class for making the background grey when menu is open
	.bgOverlayForMenu {
		position: fixed;
	    width: 100vh;
	    height: 100vh;
	    top: 0;
	    right: 0;
	}
	.bgColor {
		background-color: rgba(0,0,0,0.6);		
	}
	.wrapper-nav {	
		transition: background-color 500ms !important;
	}

}//end of media query