/*##################################################
##############   00.00 Generic    ###############
###################################################*/
.l-notForSmallDevice {
    @media only screen and (max-width: 47.9375em) {
        display: none;
    }
}
.l-onlyForSmallDevice {
    @media only screen and (min-width: 48em) {
        display: none;
    }
}
.l-onlyForDesktop {
	@media only screen and (max-width: 61.9375em) {
		display: none;
	}
}

/*##################################################
##############   01.01 mainBanner    ###############
###################################################*/

.l-containerMainBanner {
    flex: 1;
    position: relative;
}
.l-rowMainBanner, .l-colMainBanner {
    height: 100%;
}
.l-containerMainBanner .waypoint-hide {
    @media only screen and (max-width: 61.9375em) {
        opacity: 1;
    }
}

//-----   buttons  ----
.l-bannerMain_buttonsGroup {
    padding-top: (12em/16);
    @media only screen and (min-width: 48em) {
        display: flex;
        padding-top: (19em/16);
    }
    @media only screen and (min-width: 85.375em) {
        padding-top: (27em/16);
    }
    @media only screen and (min-width: 106.25em) {
        padding-top: (30em/16);
    }
    
}
.l-bannerMain_buttonsGroup_button {
    font-size: 1.4rem; // 1.4*10 = 14px
    @media only screen and (min-width: 100em) {
        font-size: 1.6rem; //1.6*10 = 16px
    }
}
.l-bannerMain_buttonsGroup_button:last-child {
    margin-left: (35em/16);
}


//----- footer  -------
.l-bannerFooter {
	position: absolute;
	width: 100%;
	left: 0%; 
	bottom: 0;
	padding-bottom: 10%;
}

.l-bannerFooter_cards {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translate(0%,50%);
    justify-content: center;
}

/*##################################################
#######   01.02 section: online presence    ########
###################################################*/
.l-containerOnlinePresence {
	padding-top: 8.3em; //half the size of .component.bannerFooter
	background-color: #f7f7f7;
}
.l-componentOnlinePresence {
	padding: (80em/16) 0;
}

.l-cardsGroup {
    margin-top: (65em/16);
    @media only screen and (min-width: 48em) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media only screen and (min-width: 75em) {
        flex-direction: row;
        justify-content: space-evenly;	
    }
}

/*##################################################
#######     01.03 section: Our services     ########
###################################################*/

.l-rowOurServices {
	@media only screen and (max-width: 36.9375em) {
		padding-right: 15px;
		padding-left: 15px;
	}
}
.l-componentOurSevices {
	padding-top: (100em/16);
}


.l-sectionHeader2 {
    @media only screen and (min-width: 48em) {
        padding-bottom: (90em/16);
    }
}
.l-ourServicesCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
}



/*##################################################
#######     01.04 section: quality and cost   ######
###################################################*/

.col-qualityAndCost {
    display: flex;
    padding: 0;
}

.l-componentQualityAndCost_halfSection1 {
    padding: 0 5%;
    background-color: #F9F9F9;
    @media only screen and (min-width: 62em) {
        flex-basis: 50%;
        display: flex;
        padding: 0;
    }
}

.l-componentQualityAndCost_halfSection1--left {
    @media only screen and (min-width: 62em) {
        padding-left: 5%;
        justify-content: flex-end;
    }
} 

