/*##################################################
##############   01 Landing page    ################
###################################################*/
.homeLandingPage {
	display: flex;
	flex-direction: column;
	height: 100%;
	@media only screen and (min-width: 48em) and (orientation: portrait) {
		height: auto;
	}
}
