/*##################################################
##############   01 Landing page    ################
###################################################*/
.homeLandingPage {
	display: flex;
	flex-direction: column;
	height: 100%;
}
