

/************************************************  
******    general tags and attributes      ******
*************************************************/
[role=button] {
	cursor: pointer;
}




/************************************************  
*******      BODY AND ITS COMPONENT      ********
*************************************************/
body {
	//font-size: 1.6rem; //16px (set in set in the 00_intrinsic-scss/_02-normalizeSelfMade.scss)
	font-family: $openSans;
	font-weight: $regular-openSans; //300~normal, 600~bold
	line-height: (24em/16);
	//letter-spacing: 1px;
}
//#wrapper-page, main {height: 100%}
.col {
	margin-right: auto;
	margin-left: auto;
}

/************************************************  
*************      General styles      **********
*************************************************/

.orangeHighlight{
	color: #F7931D;
}
.hidden {
	display: none;
}


/**************************************************************  
*******     Component Style - Self Made (CSSM)       **********
***************************************************************/

.cssm-componentHeaderStyle1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: (100em/16);	
	.componentHeading p {
		font-size: (24em/16);
		font-family: $montserrat;
		font-weight: $semiBold-montserrat;
		color: rgb(26, 26, 26);
		font-weight: $semiBold-montserrat;
		padding: 8px 0 10px 0;
	}
	.headerDivider {
		background-color: rgb(191, 191, 191);
		margin: 15px auto 40px auto;
		height: 2px;
		width: 40px;
	}
	.componentSubHeading {
		color: #595959;
    	font-size: 15px;
    	letter-spacing: 2px;
    	text-transform: uppercase;
	}
}