.buttonType3 {
    margin-top: 5px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    padding: 15px 50px;
    background-color: #0fd4bb;
    //transition: all .3s ease-in-out;
    text-transform: uppercase;
    transition: all .5s;
}