/*

--> containing element {
        to do: set the element to flex-basis: 50%
    }


<div class="l-halfSection1">
	<div class="halfSection1">
		<div class="halfSection1_heading">
			<p>
				Never Underestimate 
				<span class="orangeHighlight">Quality</span>
				Over 
				
				<span class="orangeHighlight">Cost</span>
				<span class="optional">We offer both...promising quality and<br>reasonable cost</span>
			</p>
		</div>
		<div class="halfSection1_content">
			<p>We offer both, <span class="orangeHighlight">promising quality</span> and <span class="orangeHighlight">reasonable cost</span>. Quality is our priority. Omnesque atomorum, pro integre imperdiet in. Saperet perpetua ut mei, nibh sale meis eam cu. Ut vim modus zril, ex cum erat dictas.</p>
		</div>
		<div class="halfSection1_buttons">
			<a href="#" class="button">Learn more<i class="fa fa-plus faIcon1"></i></a>
		</div>
	</div>
</div>

*/

.halfSection1 {
	padding: 60px 0; 
}

.halfSection1_heading p {
    font-size: (24em/16);
    font-weight: $semiBold-openSans;
    color: #292929;
    line-height: 36px;
    padding-bottom: 40px;
}
.halfSection1_heading .optional {
    display: none;
}
.halfSection1_content {
    color: #636363;
}
.halfSection1_buttons {
    padding-top: 43px;
}